@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f2f2f2;
    box-sizing: border-box;
}

.container {
    height: 400px;
    width: 600px;
    padding: 20px;
    margin: auto;
    margin-top: 10%;
    border-radius: 38px;
    background: #ffffff;
    box-shadow: 35px 35px 70px #b8b8b8,
        -35px -35px 70px #ffffff;
}

.container h2 {
    text-align: center;
}

#login-form {
    margin: 20px;
}

.form-group {
    margin-bottom: 30px;
}

.button-container {
    width: 100%;
}

.form-group label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.form-group input[type="submit"] {
    margin: 0 auto 30px;
    background-color: #FFA500;
    color: white;
    cursor: pointer;
    font-weight: bold;
    transition: all .2s ease-in-out;
}

.form-group input[type="submit"]:hover {
    background-color: #FFA500;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.332);
}

.error-message {
    color: red;
    margin-top: 5px;
}